@model WEB2021Apr_P04_T4.Models.CompetitionJudgeViewModel

@{
    ViewData["Title"] = "Create";
}

<h4 class="PageTitle">Remove Competition Judge</h4>
<hr />
<form asp-action="Delete">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="CompetitionID"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="CompetitionID" readonly
                       class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="CompetitionName"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="CompetitionName" readonly
                       class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Judge</label>
            <div class="col-sm-9 col-md-5">
                <!-- Drop-down list displaying Branch Address,
            with Branch Number as returned value -->
                <select asp-for="JudgeID"
                        asp-items="@(new SelectList(
 @ViewData["JudgeList"] as List <Judge>,
 "JudgeID", "JudgeName"))"
                        class="form-control"></select>
            </div>
        </div>
        <div class="form-group d-none">
            <input asp-for="JudgeName" readonly
                   class="form-control-plaintext" />
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <span asp-validation-for="CompetitionID"
                      class="text-danger"></span>
                <span asp-validation-for="JudgeID"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Remove Judge"
                       class="btn btn-primary" />
            </div>
        </div>
        <div>
            <a asp-action="Details" asp-route-id="@ViewData["CompetitionID"]">Return</a>
        </div>
    </fieldset>
</form>