@model IEnumerable<WEB2021Apr_P04_T4.Models.Competition>

@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewStaff" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Competition ID</th>
                    <th>Competition Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CompetitionID.ToString()</td>
                        <td>@item.CompetitionName</td>
                        <td>
                            <a asp-action="Join" asp-controller="CompetitorCompetition"
                               asp-route-id="@item.CompetitionID">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No record found!</span>
}

