@model IEnumerable<WEB2021Apr_P04_T4.Models.CompetitionSubmission>

@{
    ViewData["Title"] = "View Submissions";
}

<h4 class="PageTitle"> Competition Submissions </h4>
<!-- Add a partial view to display a list of submission records
 in a tabular format. -->
<partial name="~/Views/CompetitionSubmission/_ViewSubmission.cshtml" model="@Model" />