@model WEB2021Apr_P04_T4.Models.Competitor

@{
    ViewData["Title"] = "Edit";
}

<h4 class="PageTitle">Update Profile</h4>
<hr />
<form asp-action="Edit">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="CompetitorID"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="CompetitorID" readonly
                       class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="CompetitorName"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="CompetitorName" class="form-control" />
                <span asp-validation-for="CompetitorName"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Salutation"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <div class="form-group form-check-inline">
                    <label class="col-form-label">
                        <input asp-for="Salutation" type="radio" value="Dr"
                               checked class="form-check-input" />
                        <span style="font-weight:normal;
                                     padding-right:20px">Dr</span>
                    </label>
                    <label class="col-form-label">
                        <input asp-for="Salutation" type="radio" value="Mr"
                               class="form-check-input" />
                        <span style="font-weight:normal;
                                     padding-right:20px">Mr</span>
                    </label>
                    <label class="col-form-label">
                        <input asp-for="Salutation" type="radio" value="Ms"
                               class="form-check-input" />
                        <span style="font-weight:normal;
                                     padding-right:20px">Ms</span>
                    </label>
                    <label class="col-form-label">
                        <input asp-for="Salutation" type="radio" value="Mrs"
                               class="form-check-input" />
                        <span style="font-weight:normal;
                                     padding-right:20px">Mrs</span>
                    </label>
                    <label class="col-form-label">
                        <input asp-for="Salutation" type="radio" value="Mdm"
                               class="form-check-input" />
                        <span style="font-weight:normal;
                                     padding-right:20px">Mdm</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="DOB"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="PhoneNumber"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="EmailAddr"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="EmailAddr" class="form-control" />
                <span asp-validation-for="EmailAddr"
                      class="text-danger"></span>
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </fieldset>
</form>

