@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>The competition aims to raise the standards of excellence in technical skills through competitions and generate greater public awareness and interest in technical education.</p>
