@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">
    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width,
 initial-scale = 1" />
    <title>LCU Competitions</title>
    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">
</head>
<body class="text-center" data-cjcrx="addYes" data-new-gr-c-s-check-loaded="14.1021.0" data-gr-ext-installed="">

    <div class="cover-container d-flex w-100 h-100 p-1 mx-auto flex-column">
        

        <main role="main" class="inner cover">
            <h1 class="cover-heading">Welcome</h1>
            <h1 class="cover-heading">To</h1>
            <h1 class="cover-heading">Lion City University</h1>
            <h1 class="cover-heading">Competitions</h1>
            <p class="lead">
                Lion City Competitions (LCU) is a national skills competition held to discover the best in talents.
            </p>
                <a href="/Home/About" class="btn btn-lg btn-secondary">Learn more</a>
            </p>
        </main>
    </div>
</body>
</html>