@{
    ViewData["Title"] = "View Works";
}

<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">
    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width,
 initial-scale = 1" />
    <title>View Works</title>
    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">
</head>

<body class="text-center">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">View Works</h1>
        <div>
            <img src="~/Images/Ayaka.jpg" alt="" />
            <br />
            <br />
        </div>
        <div>
            <input id="Comments1" type="text" /><br />
            <input type="submit" id="Button1" style="margin :10px"
                   class="myButton" value="Comment" />
            <br />
            <br />
        </div>
        <div>
            <label id="Comments1" ></label>
        </div>
        <div>
            <img src="~/Images/Ganyu.jpg" alt="" />
            <br />
            <br />
        </div>
        <div>
            <input id="Comments2" type="text" /><br />
            <input type="submit" id="Button1" style="margin :10px"
                   class="myButton" value="Comment" />
            <br />
            <br />
        </div>
        <div>
            <img src="~/Images/Keqing.jpg" alt="" />
            <br />
            <br />
        </div>
        <div>
            <input id="Comments3" type="text" /><br />
            <input type="submit" id="Button1" style="margin :10px"
                   class="myButton" value="Comment" />
        </div>
    </div>

</body>
</html>