<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lion City University Competitions</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        @if (Context.Session.GetString("Role") == "Admin")
        {
            @await Html.PartialAsync("_AdminMenu.cshtml")
        }
        @if (Context.Session.GetString("Role") == "Judge")
        {
            @await Html.PartialAsync("_JudgeMenu.cshtml")
        }
        else
        {
            @await Html.PartialAsync("_MainMenu.cshtml")
        }


    </header>

    <!-- 1st row -->
    <div class="row">
        <div class="col-sm-12">
            <p style="padding:2px 15px;">
                @{
                    string userId = "Anonymous";
                    string userRole = "Unknown";
                    if (Context.Session.GetString("LoginID") != null)
                    {
                        userId = Context.Session.GetString("LoginID");
                    }
                    if (Context.Session.GetString("Role") != null)
                    {
                        userRole = Context.Session.GetString("Role");
                    }
                }
                

            </p>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - WEB2021Apr_P04_T4 - <a asp-area="" asp-controller="Home" asp-action="About">About</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
            </html>
