@model IEnumerable<WEB2021Apr_P04_T4.Models.CompetitionScore>

@{
    ViewData["Title"] = "Index";
}

<h4 class="PageTitle">Competition Scores</h4>
<p><a asp-action="Create">Add Competition Submission to grade</a></p>
<!-- Add a partial view to display a list of competition score records
 in a tabular format. -->
<partial name="~/Views/CompetitionScore/_ViewCompetitionScore.cshtml" model="@Model" />